<div class="container">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
    <div class="form-area">  
        <form role="form" id="bmr_form">
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">BMR Calculation using Harris-Benedict Equation</h3>
    				<div class="form-group">
						<input type="number" class="form-control age" id="age" name="name" placeholder="Age" required>
					</div>
					<div class="form-group">
						<div class="radio">
                          <label><input type="radio" name="gender" value="male">Male</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="gender" value="female">Female</label>
                        </div>
                        
					</div>
					<div class="form-group">
						<input type="number" class="form-control height" id="height" name="height" placeholder="Height(cms)" required>
					</div>
					<div class="form-group">
						<input type="number" class="form-control weight" id="weight" name="weight" placeholder="Weight(kgs)" required>
					</div>
                    <div class="form-group">
                                       
                    </div>
                    <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Generate  BMR</button>
        </form>

    </div>
     <div class="alert alert-success msg " style="text-align: center;margin-top: 84px;display:none"><srtong>
     Your BMR:</srtong>&nbsp;&nbsp;&nbsp;
  <span class="bmr_data"></span>  &nbsp;&nbsp;&nbsp;<strong>Calories/day</strong>
</div>
</div>
<div class="col-md-3">
	
</div>
</div>
</div>


<style type="text/css">
    .alert
    {
        position: relative;
        z-index: 10;
        padding-left: 250px;
        font-size: 14px;
    }

    .alert h3,
    .alert .h3
    {
        margin-top:0;
        margin-bottom:0;
        font-size: 24px;
    }
</style>
<script type="text/javascript">
$(document).ready(function(){
    $('#bmr_form').submit(function(event){
        var gender = ""
        if($('input[name=gender]:checked').length<=0)
        {
             alert("Please select gender.")
             event.preventDefault();
        }
        else
        {
            gender = $('input[name=gender]:checked').val();
            age = $('.age').val()
            height = $('.height').val()
            weight = $('.weight').val()
            $(".msg").css("display","block")
            if(gender == "male")
            {
            	$(".bmr_data").text(((88.4 + 13.4 * weight) + (4.8 * height) - (5.68 * age)).toFixed(2))
              
            }
            else{
                $(".bmr_data").text(((447.6 + 9.25 * weight) + (3.10 * height) - (4.33 * age)).toFixed(2))
            }
            event.preventDefault();
        }
    });
});





//     Male: (88.4 + 13.4 x weight) + (4.8 x height) – (5.68 x age)
// Female: (447.6 + 9.25 x weight) + (3.10 x height) – (4.33 x age)
// weight in kilograms, height in centimeters, age in years
// Sample: 88.4 + 1072 + 864 – 272.6 = 1,751    




</script>